html {
  font-size: 62.5%;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  @extend %poppins-400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-size: 16px;
  line-height: 24px;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1640px;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: 1px solid $accent;
}

.interactions {
  font-size: 0;
  line-height: 0;
  color: inherit;
}

.title-box {
  margin: 0 auto 85px;
  max-width: 585px;
  width: 100%;
  text-align: center;
}

.title {
  margin-bottom: 30px;
  @extend %poppins-600;
  font-size: 3.5rem;
  line-height: 3rem;
  color: $title;
}

.subtitle {
  color: $subtitle;
}