$accent: #8D28AD;
$background: #fff;
// $button-top-slider, tickets-name
$title: #000;
$subtitle: #666666;
$menu: #fff9;
$placeholder: #636363;
$input: #F3F3F3;
// old price
$star-bg: #FF7A00;
$categories-price-bg: #EEDFF3;
$heart: #FF2F2F;
$bg-progres: #380B46;
$footer-text: #755A7D;
$background-svg: #4D4D4D;
$text: #fff;
$background2: #D9176C;
$service: #FCF8FD;
// top10 bg
$social-border: #F0E4F4;
$social: #CA8FDD;
$placeholder-footer: #A4A4A4;

$top-slider: #430d54ba;
$top-slider-text:#fffc;
$top-slider-dots: #ffffff38;
// reng-sale
$rayting-bg: #FFFFFF 30%;
$service-text: #000000 50%;
$ticets-name-bg: #8D28AD 15%;
$ticets-subtext: #000000 80%;
$categories: #8D28AD 65%;
$categories-subtext: #FFFFFF 60%;
$block-clock-bg: #FFFFFF 18%;
$progres-placholder: #F3F3F3 16%;
// copright

%poppins-400 {
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
}

%poppins-500 {
  font-family: 'Poppins-Medium', sans-serif;
  font-weight: 500;
}

%poppins-600 {
  font-family: 'Poppins-SemiBol', sans-serif;
  font-weight: 600;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}