.login {
  @extend %poppins-600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: $placeholder;

  &__signIn {
    padding: 20px;
    margin-right: 18px;
    border-radius: 8px;
    @extend %poppins-600;
    background-color: #fff;
    transition: all 0.3s;

    @include r(1200) {
      padding: 20px 10px;
      margin-right: 5px;
    }

    @include r(992) {
      display: none;


      
    }

    &:hover {
      color: #fff;
      background-color: $accent;
    }
  }

  &__create {
    display: inline-block;
    padding: 23px 26px;
    border-radius: 8px;
    color: #fff;
    background-color: $accent;

    @include r(1200) {
      padding: 16px 10px;
    }

    @include r(992) {
      display: none;
    }
  }
}