.menu {
  position: absolute;
  top: 132px;
  right: 0;
  left: 0;
  @extend %poppins-500;
  font-size: 1.8rem;
  line-height: 2.7rem;
  pointer-events: none;
  z-index: 999;

  @include r(992) {
    top: 85px;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $accent;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;

    @include r(992) {
      display: block;
      background-color: $accent;
    }

    &--active {
      opacity: 1;
      pointer-events: auto
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 25px;

      @include r(992) {
        margin-right: 0;
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 21px 18px;
    min-width: 80px;
    min-height: 60px;
    color: $menu;
    transition: all 0.3s;

    @include r(992) {
      padding: 15px;
      min-height: 50px;
    }

    @include r(768) {
      padding: 8px 10px;
      min-height: 40px;
    }

    &:hover {
      color: #fff;

      &::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        min-width: 84px;
        width: 100%;
        height: 6px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: #ffffff80;
      }
    }
  }

  &__dropdown {
    position: relative;
    padding: 20px 45px 20px 20px;
    margin-left: 83px;
    border-radius: 8px;
    @extend %poppins-600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $accent;

    @include r(1200) {
      margin-left: 15px;
    }

    @include r(992) {
      display: none;
    }

    &::after {
      position: absolute;
      content: '';
      top: 30px;
      right: 10px;
      width: 13px;
      height: 7px;
      transform: translate(-50%);
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../images/icons/arrow.svg');
    }

    &--active {
      position: relative;
      color: #fff;
      background-color: $accent;
      z-index: 100;

      &::after {
        right: 18px;
        transform: rotate(180deg);
        background-image: url('../images/icons/arrow-white.svg');
      }

      &::before {
        position: absolute;
        content: '';
        bottom: -22px;
        right: 50px;
        width: 16px;
        height: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../images/icons/arrow.svg');
        transform: rotate(180deg) translateY(-50%);
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.modal-content {
  padding: 30px;
  margin: 15% auto;
  width: 33%;
  border: 1px solid $accent;
  background-color: $input;

  input,
  button {
    display: block;
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    @extend %poppins-400;
    color: $placeholder;
    background-color: $input;
    outline: none;
  }

  button[type="submit"] {
    margin-bottom: 0;
    border: none;
    @extend %poppins-600;
    color: #fff;
    background-color: $accent;
  }
}

.close {
  float: right;
  font-size: 2.8rem;
  font-weight: bold;
  color: #aaa;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}