.menu {
  margin-top: 25px;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;
    // transform: translateY(-300%);
    text-align: center;
    background-color: $accent;
    opacity: 0;
    transition: all 0.3s;
    z-index: -999;

    &--active {
      opacity: 1;
      z-index: 999;
      // transform: translateY(0);
    }
  }

  &__item {
    position: relative;
    padding: 20px 18px;
    @extend %poppins-500;
    color: $menu;
    transition: all 0.3s;

    &:not(:last-child) {
      margin-right: 24px;
    }

    &:hover {
      @extend %poppins-600;
      color: #fff;


      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 6px;
        min-width: 84px;
        width: 100%;
        background-color: #ffffff80;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }
  }

  &__link {
    padding: 20px 0;
  }
}

.dropdown {
  position: relative;
  padding: 20px 40px 20px 20px;
  border-radius: 8px;
  @extend %poppins-600;
  font-size: 18px;
  line-height: 27px;
  color: $accent;

  &::after {
    position: absolute;
    content: '';
    top: 30px;
    right: 15px;
    width: 13px;
    height: 7px;
    transform: translate(-50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/icons/arrow.svg');
  }

  &--active {
    background-color: $accent;
    color: #fff;

    &::after {
      right: 20px;
      transform: rotate(180deg);
      background-image: url('../images/icons/arrow-white.svg');
    }

    &::before {
      position: absolute;
      content: '';
      bottom: -22px;
      right: 50px;
      width: 13px;
      height: 7px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('../images/icons/arrow.svg');
      transform: rotate(180deg) translateY(-50%);
    }
  }
}