.page-404 {
  padding: 50px 0;
  text-align: center;
  color: $accent;
  background-color: #fff;

  span {
    @extend %poppins-600;
    font-size: 12.8rem;
    line-height: 12.8rem;
  }

  p {
    font-size: 6.4rem;
    line-height: 6.4rem;
  }
}