.price {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 37px;
  left: 46%;
  // left: 240px;
  transform: translateY(-50%);
  color: $accent;

  @include r(1700) {
    bottom: 5%;
  }

  &__curent {
    @extend %poppins-600;
    font-size: 3rem;
    line-height: 2.4rem;

    @include r(992) {
      margin-right: 10px;
      font-size: 2.4rem;
    }
  }

  &__old {
    margin-left: 22px;
    text-decoration: line-through;
    color: $placeholder;
  }
}