.product-top {
  padding: 55px 0;
  background-color: $service;

  @include r(1200) {
    padding: 5% 0;
  }

  &__list {
    margin: 0 auto;
    max-width: calc(100vw - 18px);
    width: 100%;

    @include r(1700) {
      max-width: 94vw;
    }

    @include r(1200) {
      max-width: 90vw;
    }

    .slick-slide {
      padding: 0 15px;

      @include r(1700) {
        margin-right: 15px;
      }
    }

    .slick-arrow {
      position: absolute;
      top: 55%;
      right: -28px;
      max-width: 58px;
      width: 100%;
      min-height: 58px;
      border-radius: 50%;
      transform: translateY(-50%);
      box-shadow: 0px 14px 26px 0px #270D3040;
      z-index: 1;

      @include r(768) {
        right: 0;
      }
    }

    .slick-prev {
      left: -28px;

      @include r(768) {
        left: 0;
      }
    }

    .slick-next,
    .slick-prev {
      background-color: $accent;
      z-index: 5;
      cursor: pointer;

      path {
        fill: #fff;
      }
    }

    .slick-disabled {
      background-color: #fff;

      path {
        fill: $accent;
      }
    }
  }

  &__item {
    position: relative;
    max-width: 170px;
    width: 100%;
    min-height: 490px;
  }

  &__img-box {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 19.5% 143%;
    margin-bottom: 20px;
    height: 0;
    border-radius: 20px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  &__link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    &::after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      background-image: linear-gradient(to left, rgba(67, 13, 84, 0.3));
    }
  }

  &__content {
    margin-bottom: 60px;

    .jq-ry-container {
      margin-bottom: 14px;
    }
  }

  &__name {
    display: block;
    margin-bottom: 10px;
    @extend %poppins-500;
    font-size: 1.8rem;
    line-height: 3rem;
    color: $title;
  }

  &__autor {
    color: #000c;
  }

  &__price {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 7% 35px 8% 18px;
    max-width: 142px;
    width: 100%;
    min-height: 73px;
    border-radius: 10px;
    background-color: $price-bg;
  }

  &__current {
    @extend %poppins-600;
    font-size: 2rem;
    line-height: 2.4rem;
    color: $title;
  }

  &__old {
    font-size: 1.2rem;
    line-height: 2.4rem;
    color: $placeholder;
    text-decoration: line-through;
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: -15%;
    padding: 25px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: $accent;

    &::after {
      position: absolute;
      content: '';
      width: 24px;
      height: 20px;
      top: 50%;
      left: 25%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('../images/icons/cart-white.svg');
    }
  }
}