.search {
  &__top {
    position: relative;
    margin-left: -3%;
    @extend %poppins-400;
    font-size: 1.8rem;
    line-height: 2.7rem;

    &::placeholder {
      color: $placeholder;
    }

    input {
      padding: 20px 60px 20px 40px;
      min-width: 763px;
      border-radius: 8px;
      border: none;
      background-color: $input;
    }

    button {
      position: absolute;
      top: 33px;
      right: 28px;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-image: url('../images/icons/search.svg');
    }
  }
}