.search {
  &__top {
    position: relative;
    padding: 0 10px 0 20px;
    margin-right: 45px;
    @extend %poppins-400;
    font-size: 1.8rem;
    line-height: 2.7rem;

    @include r(1200) {
      margin-right: 15px;
    }

    @include r(768) {
      display: none;
    }

    &::placeholder {
      color: $placeholder;
    }

    input {
      padding: 20px 60px 20px 35px;
      max-width: 100%;
      width: 40vw;
      border-radius: 8px;
      border: none;
      background-color: $input;

      @include r(1440) {
        padding: 20px 40px 20px 20px;
        width: 30vw;
      }

      @include r(992) {
        width: 50vw;
      }
    }

    button {
      position: absolute;
      top: 33px;
      right: 40px;
      padding: 12px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-image: url('../images/icons/search.svg');

      @include r(1440) {
        right: 20px;
      }

      @include r(992) {
        // top: 5px;
        // right: -230px;
      }
    }
  }
}