.social {
  display: flex;

  &__item {
    max-width: 58px;
    width: 100%;
    max-height: 58px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    max-width: 58px;
    width: 100%;
    min-height: 58px;
    border: 1px solid $social-border;
    border-radius: 50%;
    background-position: center;
    background-size: auto, cover;
    background-repeat: no-repeat;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    z-index: 50;

    &:hover {
      background-color: $accent;
    }

    &--facebook {
      background-image: url('../images/icons/social/sprites.svg#facebook-view');

      // &:hover {
      //   background-image: url('../images/icons/social/social-accent/facebook.svg');
      // }
    }

    &--youtube {
      background-image: url('../images/icons/social/sprites.svg#youtube-view');

      // &:hover {
      //   background-image: url('../images/icons/social/social-accent/youtube.svg');
      // }
    }

    &--twitter {
      background-image: url('../images/icons/social/sprites.svg#twitter-view');

      // &:hover {
      //   background-image: url('../images/icons/social/social-accent/twitter.svg');
      // }
    }

    &--linkedIn {
      background-image: url('../images/icons/social/sprites.svg#linkedin-view');

      // &:hover {
      //   background-image: url('../images/icons/social/social-accent/linkedIn.svg');
      // }
    }

    &--instagram {
      background-image: url('../images/icons/social/sprites.svg#instagram-view');

      // &:hover {
      //   background-image: url('../images/icons/social/social-accent/instagram.svg');
      // }
    }
  }
}