.footer {
  padding: 110px 0 0;
  @extend %poppins-500;
  color: $footer-text;
  background-color: #fff;

  @include r(1200) {
    padding: 5% 0 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 140px;

    @include r(1200) {
      flex-wrap: wrap;
      padding-bottom: 6%;
    }
  }

  &__about {
    padding-right: 15px;
    margin-right: 60px;
    max-width: 430px;
    width: 100%;

    @include r(1440) {
      margin-right: 2%;
      max-width: 380px;
    }

    @include r(992) {
      margin-right: 0;
    }

    @include r(768) {
      display: block;
      padding-right: 0;
      max-width: 100%;
    }

    .footer__text {
      margin-bottom: 67px;

      @include r(992) {
        margin-bottom: 25px;
      }
    }
  }

  &__follow p {
    margin-bottom: 25px;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $title;

    @include r(768) {
      margin-bottom: 10px;
    }
  }

  &__logo {
    max-width: 216px;
    width: 100%;
    display: inline-block;
    margin-bottom: 40px;

    img {
      max-width: 216px;
      width: 100%;
    }
  }

  &__subscribe {
    padding-left: 15px;
    max-width: 430px;
    width: 100%;

    @include r(1200) {
      // display: block;
      padding-left: 0;
      max-width: 100%;
    }

    @include r(992) {
      display: block;
      max-width: 100%;
    }

    .footer__text {
      margin-bottom: 40px;

      @include r(992) {
        margin-bottom: 25px;
      }
    }
  }

  &__category {
    padding: 0 15px;
    max-width: 200px;
    width: 100%;

    @include r(992) {
      padding: 0 10px;
      max-width: 170px;
    }
  }

  &__title {
    margin: 42px 0 27px;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $title;

    @include r(768) {
      margin: 20px 0;
    }
  }

  &__item {
    transition: color 0.3s ease-in-out;

    &:not(:last-child) {
      margin-bottom: 20px;

      @include r(768) {
        margin-bottom: 10px;
      }
    }
  }

  &__link {
    &:hover {
      color: $accent;
    }
  }
}

.copyright {
  border-top: 1px solid #EBEBEB;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 35px 0;
    @extend %poppins-500;

    @include r(992) {
      padding: 15px 0;
    }

    @include r(768) {
      justify-content: center;

      p {
        padding: 0 20px 15px 0;
      }
    }
  }
}

.form {
  &__input {
    padding: 10px 10px 10px 25px;
    border-radius: 8px;
    max-width: 280px;
    width: 100%;
    min-height: 68px;
    border: transparent;
    background-color: $input;
    outline: none;

    @include r(1440) {
      max-width: 220px;
    }

    @include r(1200) {
      margin-bottom: 15px;
      max-width: 320px;
    }

    @include r(768) {
      max-width: 100%;
      width: 100%;
    }

    &::placeholder {
      color: $placeholder-footer;
    }
  }

  &__btn {
    padding: 20px 20px;
    margin-left: 10px;
    border-radius: 8px;
    min-height: 68px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #fff;
    background-color: $accent;

    @include r(768) {
      margin-left: 0;
      width: 100%;
    }
  }
}