.footer {
  padding: 110px 0 0;
  @extend %poppins-500;
  color: $footer-text;
  background-color: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }

  &__about {
    padding-right: 15px;
    margin-right: 5%;
    max-width: 430px;
    width: 100%;

    .footer__text {
      margin-bottom: 75px;
    }
  }

  &__follow p {
    margin-bottom: 25px;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $title;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 40px;
  }

  &__subscribe {
    max-width: 430px;
    width: 100%;

    .footer__text {
      margin-bottom: 40px;
    }
  }

  &__category {
    padding-right: 15px;
    margin-right: 20px;
    max-width: 175px;
    width: 100%;
  }

  &__title {
    margin: 20px 0 27px;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $title;
  }

  &__item {
    transition: color 0.3s ease-in-out;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    &:hover {
      color: $accent;
    }
  }
}

.copyright {
  border-top: 1px solid #EBEBEB;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    @extend %poppins-500;
  }
}

.form {
  &__input {
    padding: 10px 20px;
    border-radius: 8px;
    max-width: 280px;
    min-height: 68px;
    border: transparent;
    background-color: $input;
    outline: none;

    &::placeholder {
      color: $placeholder-footer;
    }
  }

  &__btn {
    padding: 20px 20px;
    margin-left: 15px;
    border-radius: 8px;
    min-height: 68px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #fff;
    background-color: $accent;
  }
}