.header {
  padding: 40px 0;
  background-color: $background;
  position: relative;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 35px;
  }

  &__cart {
    position: relative;
    width: 24px;
    height: 21px;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url('../images/icons/basket.svg');

    span {
      position: absolute;
      bottom: -12px;
      right: -15px;
      width: 23px;
      height: 23px;
      border: 2px solid #fff;
      border-radius: 50%;
      @extend %poppins-500;
      font-size: 1.4rem;
      line-height: 2.1rem;
      text-align: center;
      color: #fff;
      background-color: $accent;
    }
  }
}